
.calendar {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .day {
    display: flex;
    flex-direction: column;
  }
  
  .hour {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .hour-label {
    width: 60px;
    text-align: center;
    padding: 5px;
    background: #f0f0f0;
    border-right: 1px solid #ddd;
  }
  
  .appointments {
    flex: 1;
    padding: 5px;
    background: #f9f9f9;
  }
  
  .appointment {
    background: #eee;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 10px;
    width: 100%;
  }
  