<mat-toolbar class="bg-blue-500 flex justify-start gap-2">
    <button mat-button [routerLink]="['/calendar']" routerLinkActive="active-header" class="text-white">
      <mat-icon class="mr-2">calendar_today</mat-icon>
      Calendar
    </button>
    <button mat-button [routerLink]="['/component1']" routerLinkActive="active-header" class="text-white">
      <mat-icon class="mr-2">construction</mat-icon>
      Component 2
    </button>
    <button mat-button [routerLink]="['/component2']" routerLinkActive="active-header" class="text-white">
      <mat-icon class="mr-2">construction</mat-icon>
      Component 3
    </button>
    <button mat-button [routerLink]="['/component3']" routerLinkActive="active-header" class="text-white">
      <mat-icon class="mr-2">construction</mat-icon>
      Component 4
    </button>
  </mat-toolbar>