<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="w-full h-full flex flex-col justify-start items-center">
      <div class="my-3">
        <app-date-picker (setDate)="setCalendarDate($event)"></app-date-picker>
      </div>
      <div>
        <app-scheduled-appointments (selectedAppointment)="selectScheduledAppointment($event)"></app-scheduled-appointments>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="w-full flex justify-between items-center">
        <div class="flex justify-center items-center">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="mx-3">{{ selectedCalenderDate | date: 'EEE MMMM d yyyy' }}</div>
        </div>

        <div class="selecteddate-mode">
          <app-select-dropdown [label]="'Choose an option'" [options]="calendarOptions" [(selected)]="selectedOption">
          </app-select-dropdown>
        </div>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>