.demo-inline-calendar-card {
    width: 350px;
    display: inline-block;
    background-color: #fff;
    border: 10px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
  